@page
@model LedIce.Pages.ContactsModel
@{
}

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab3d5dd9eed62d25c625724c51f7c943981b1e3465560759cbb7aaa1fe7aabf93&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

<div class="container">

    <section>
        <h2>Обратная связь</h2>

        <form>

            <div class="row">

                <div class="col-md-7">
                    <label class="form-label" for="message">Сообщение</label>
                    <textarea class="form-control" id="message" required cols="40" rows="5"></textarea>
                </div>

                <div class="col-md-5">
                    <p>
                        <label class="form-label" for="name">Имя</label>
                        <input class="form-control" type="text" id="name" required />
                    </p>

                    <p>
                        <label class="form-label" for="phone">Телефон</label>
                        <input class="form-control" type="tel" id="phone" required />
                    </p>

                    <p>
                        <label class="form-label" for="email">Почта</label>
                        <input class="form-control" type="email" id="email" />
                    </p>
                </div>
            </div>


            <p>
                <input class="form-check-input" type="checkbox" id="agreed" checked>
                <label class="form-check-label" for="agreed">Я согласен на <a>обработку персональных данных</a></label>
            </p>

            <button class="btn btn-default" type="submit">Отправить</button>
            <button class="btn btn-default" type="reset">Сбросить</button>
        </form>

    </section>

</div>
